@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --color-green: #55e5b1;
  --color-dark: #090e20;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  font-family: "Chivo";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: #090e20;
}

.container {
  position: relative;
  display: flex;
  width: 80vw;
  max-width: 1920px;
  height: 70vh;
}

.container .stock {
  position: relative;

  background: url(/assets/desktop/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  flex: 4 1 40rem;
}

.container .stock img {
  position: fixed;
  bottom: -5.5rem;
  right: 0;
}

.stock img {
  margin-bottom: 14rem;
}
.text {
  position: fixed;
  bottom: 0;

  background: #090e20;
  height: 80%;

  color: white;
}

.text h1 {
  text-transform: uppercase;
  font-weight: 100;

  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
}

.text h1 span {
  color: #55e5b1;
}
.text h2 {
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  color: #c2cbe5;
  margin-left: -100px;
  font-style: normal;
  font-weight: normal;
  color: #c2cbe5;
}
.btn {
  font-family: "Chivo";
  margin-left: 25px;
}

.text .email {
  position: relative;
  font-family: "Chivo";
  height: 3rem;
  width: 60%;
  background: rgba(255, 255, 255, 0.2);
  padding: 3rem 0;
  border-radius: 4rem;
  margin-top: 4rem;
}
form {
  font-family: "Chivo";
  position: relative;
  margin-left: -150px;
}

input {
  font-family: "Chivo";
  text-decoration: none;
  padding: 20px 40px;
  width: 450px;
  border-radius: 40px;
  border: none;
  outline-style: none;
  background-color: #2c344b;
  margin: 40px 0;
}

::placeholder {
  color: #c2cbe5;
  font-weight: 700;
}

::placeholder:active {
  color: white;
}

form button {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 45px;
  left: 265px;
  background-color: #54e6af;
  font-weight: 700;
}
#input-error {
  display: none;
  text-align: center;
  font-family: "Chivo";
  font-size: 12px;
  font-weight: bold;
  position: relative;
  margin-left: -190px;
  margin-top: -20px;
  color: red;
}

form button:hover {
  background-color: rgb(176, 255, 225);
  cursor: pointer;
  transition-duration: 0.5s;
}
.text .logos {
  display: flex;
  position: relative;

  margin-top: 170px;
  opacity: 0.7;

  align-items: center;

  gap: 40px;
  flex-direction: row;
}

.stock img {
  position: relative;
  left: 85%;
}
.logo {
  background: url(/assets/desktop/logo.svg);
  background-position: top left;
  z-index: 99;
  width: 330px;
  margin-top: -30px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }
  .container {
    margin-bottom: 200px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: 80%;
  }
}
.stock img {
  z-index: 99;
  position: fixed;
  margin-right: 550px;
}

.logo {
  background: url(/assets/desktop/logo.svg);
  background-position: top left;
  z-index: 99;
  width: 330px;
  height: 100px;
  margin-left: -103px;
  margin-bottom: 50vh;
  background-repeat: no-repeat;
}
.text h1 {
  margin-left: -100px;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}
.text p {
  margin-left: 30px;

  max-width: 445px;
}
.email {
  margin-left: 10px;
  align-items: center;
}
input {
  margin-left: 30px;
  align-items: center;
  max-width: 427px;
}
.text .logos {
  align-items: center;
  margin-left: -120px;

  margin-top: 110px;
}

.text h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: gray;
  max-width: 445px;
}

@media screen and (max-width: 467px) {
  .text {
    background-image: linear-gradient(
        hsla(224, 35%, 11%, 0.85),
        hsla(224, 35%, 11%, 0.85)
      ),
      url(/assets/desktop/image-host.jpg);
    margin: 0;

    text-align: center;
    background-position: 100%;
    background-size: cover;
    height: 100vh;
    margin-left: -70px;
    width: 375px;
  }
  .stock {
    display: none;
  }

  .logo {
    margin-bottom: 250px;
    margin-left: 40px;
    width: 400px;
  }

  .text {
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    padding-top: 0;
    padding-right: 0;
  }
  .text h1 {
    margin-top: 120px;
    font-size: 26px;
    line-height: 38px;
    /* or 146% */

    text-align: center;
    text-transform: uppercase;
    order: 1;
    text-align: center;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 56px;
    padding-left: 80px;
  }
  .text h2 {
    color: gray;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    margin-left: 10px;
    max-width: 327px;
    text-align: center;
  }
  .text .logos img {
    width: 60px;
  }
  .text .logos {
    position: fixed;

    margin: -150px 0;
    justify-content: center;
  }

  input {
    margin-top: 130px;
    order: 2;
    width: 70%;
    margin-left: 140px;
    align-items: center;
  }
  .btn {
    width: 70%;
    margin-top: 150px;
    margin-left: -115px;
  }
}
